	{{ partial "head.html" . }}
	<body>
    {{ partial "nav.html" . }}

    {{ partial "profile.html" . }}

    <!-- <section id="wrapper" class="home">
        Maybe add this in the future if you want.
        {{ with .Site.Params.summary }}<p>{{ . | markdownify }}</p>{{ end }}
    </section> -->
    <section id="wrapper" class="home">
        {{ partial "post-list.html"  . }}
        {{ partial "pagination.html" . }}
        {{ partial "footer.html"     . }}
    </section>

    {{ partial "js.html" . }}
    </body>
</html>
